<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="1"
          android:versionName="1.6"
          package="com.pauselabs">

    <uses-sdk android:minSdkVersion="18"
              android:targetSdkVersion="18"/>

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application android:name=".pause.PauseApplication"
                 android:theme="@style/Theme.Pause.Dark"
                 android:icon="@drawable/ic_launcher"
                 android:label="@string/app_name">

        <service android:name=".pause.services.PauseSessionService"></service>
        <service android:name=".pause.services.PauseMessageReceivedService"></service>
        <service android:name=".pause.services.PauseMmsTransportService"></service>

        <activity android:name=".pause.ui.MainActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize|stateAlwaysVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".pause.ui.SettingsActivity" android:screenOrientation="portrait">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.pauselabs.pause.ui.MainActivity" />
        </activity>
        <activity android:name=".pause.ui.CameraActivity"
                  android:screenOrientation="portrait"></activity>
        <activity android:name=".pause.ui.PreviewActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".pause.ui.ScoreboardActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".pause.ui.BlacklistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable_contacts"
                android:value=".pause.ui.BlacklistActivity"/>
        </activity>
        <receiver android:name=".pause.listeners.BatteryLevelReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".pause.listeners.NotificationActionListener"/>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="c5b66f7bae194d35e898f5f0e5ff5fd1ea78a618"/>
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />

    </application>
</manifest>